.box{
    height: 100px;
    width: 100px;
    background-color: red;
    margin-top: 4px;
}

.light{
    height: 100px;
    width: 100px;
    background-color: bisque;
}

.dark{
    height: 100px;
    width: 100px;
    background-color: black;
}